body {
    padding-top: 60px;
}

[class*="col-"] {
    padding-right: 0px;
    padding-left: 0px;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.nav > li > a {
    padding-left: 0px;
}

header input {
    border-radius: 0px;
    border: 1px solid coral;
    padding: 5px;
    color: coral;
    opacity: 0.5;
    width: 216px;
}

header a {
    color: coral;
    text-decoration: none;
    font-family: "Open Sans";
    font-weight: bold;
}

.brand {
    font-size: 33px;
}

header a:hover {
    cursor: pointer;
    color: crimson;
    text-decoration: none;
    font-weight: bold;
    font-family: "Open Sans";
}

header ul {
    list-style: square;
    color: coral;
}

header ul:hover {
    color: crimson;
}

.hero-unit {
    font-family: "Open Sans";
    color: cornflowerblue;
    text-transform: uppercase;
}

.hero-unit h1 {
    margin-bottom: 5px;
}

hide spinner for inpu type number input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.thumbnails {
    list-style: none;
}

.thumbnails img {
    display: block;
    padding-top: 20px;
}

.control-group input,
.control-group textarea {
    margin-left: 20px;
}

.control-group .help-block {
    margin-left: 180px;
}

.caption {
    padding-left: 40px;
}

.caption > p > div {
    display: inline-block;
}

.page-header {
    margin-top: 0px;
}

.page-header h1 {
    font-family: "Open Sans";
    color: cornflowerblue;
    text-transform: uppercase;
    font-size: 1em;
    margin-top: 0px;
}

.movieResult {
    margin-bottom: 100px;
    list-style: none;
}