<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>AngularMovie</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="fonts/font-awesome.css">

    <!-- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
</head>

<body>



    <!-- barre de navigation -->
    <header class="navbar">
        <div class="navbar-inner col-md-offset-2">
            <section class="container-fluid">
                <a class="brand" href="index.html">AngularMovie</a>
                <ul class="nav">
                    <li><a href="movie-list.html">Mes films</a></li>
                </ul>
            </section>
        </div>
    </header>



    <!-- partie principale -->
    <section class="container-fluid">

        <header class="page-header col-md-offset-2 col-md-8">
            <h1>Ma vidéothèque <small>- 4 films</small></h1>
        </header>

        <ul class="thumbnails col-md-offset-2 col-md-8" ng-app="StyleFilms" ng-controller="styleFilms">
            <input type="text" placeholder="rechercher un film par titre" ng-model="listefilm">
            <li class="movieResult col-md-12" class="span12" ng-repeat="movies in movies | filter:listefilm">
                <img ng-src="{{movies.img}}" class="span2 col-md-3">
                <div class="caption col-md-9">
                    <h3>{{movies.title}}</h3>
                    <p><b>Année de sortie : </b>{{movies.releaseYear}}</p>
                    <p><b>Réalisateur : </b>{{movies.directors}}</p>
                    <p><b>Acteurs : </b>{{movies.actors}}</p>
                    <p><b>Synopsis : </b>{{movies.synopsis}}</p>
                    <i class="fa fa-thumbs-up col-md-1" aria-hidden="true" ng-click="aime = aime + 1" ng-init="aime=0">{{aime}}</i>

                    
                    <i class="fa fa-thumbs-down col-md-1" aria-hidden="true" ng-click="aimepas = aimepas + 1" ng-init="aimepas=0">{{aimepas}}</i>
                </div>
            </li>
        </ul>

    </section>

</body>

</html>